modules = ["php-8.2", "web", "nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 19599294

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd web-positron-main && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd web-positron-main && php artisan serve --host=0.0.0.0 --port=5000"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true
