modules = ["php-8.2", "web", "nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 19599294

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve"
